<!DOCTYPE html>
<html>
  <head>
    <title>MelleWS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./stylesheets/createuser.css">
    <link rel="stylesheet" href="./stylesheets/style.css">
  </head>
  <body>
    <%- include('bar', {req: req}); %>
    <% var isInset = (true ? "inset_input" : "input") %> 
    <br/>
    <br/>
    <br/>
    <div class="main_container">
      <% if (req.isAuthenticated()) { %>
        <p>You already have an account.</p>
      <% } else { %>
        <h1 class="register_text">Register</h1>
        <p class="register_info">Welcome to MelleWS. Here, you can register your account..</br>With your account, you can access your Drive, UserPages and more.</p>
        <% if(message){ %>
          <div class="error-div">
            <pre class="inset-pre red-pre"><%= message %></pre>
          </div>
        <% } %>
        <div class="form_wrapper">
          <form class="form" action="/register" method="POST">
            <input class="<%= isInset %>" type="text" name="username" id="username" placeholder="Username" required>
            <input class="<%= isInset %>" type="email" name="email" id="email" placeholder="E-mail" required>
            <input class="<%= isInset %>" type="password" id="password" name="password" placeholder="Password" required />
            <input class="<%= isInset %>" type="password" id="rePassword" name="rePassword" placeholder="Re-enter password" required />
            <input class="main_btn" type="submit" name="sbmt">
          </form>
        </div>
      <% } %>
    </div>
  </body>
</html>
